<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
 <body>

    <h1>Verify your email</h1>
    <a href="{{.Link}}" target="_blank">Verify</a>

    <p>Link expires in {{.ExpiredAt}}</p>

    <p>Your secret code {{.SecretCode}}</p>
 </body>

</html>